<li>
  {{#each buttons as |button|}}

  <span {{#if button.interactive}}style="cursor: pointer; {{button.style}}"{{else}}style="{{button.style}}"{{/if}}  data-index="{{@index}}">{{{button.label}}}</span>

  {{/each}}
</li>